body {
    padding-top: 70px;
}

.restaurants {
    padding-top: 15px;
    padding-bottom: 15px;
}

.res-img {
    padding-right: 15px;
    width: 150px;
    height 150px;
}

.res-title {
    margin-top: 0px;
}

.login {
    margin-right: 0px;
}

.login-message {
    padding-right: 15px;
}

.facebook-blue{
    color: #2E428B;
}

.google-red{
    color: #CD3726;
}